.h-text h3 {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
}

.h-text h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}

.h-text p {
    font-size: 18px;
    color: #444;
    margin-bottom: 20px;
}

.h-text button {
    background-color: #0b2c61;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
}

/* Content Section */
.content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Image Styling */
.chart {
    position: absolute;
    top: -50px;
    left: 50px;
    width: 550px;
}

.person {
    width: 550px;
    z-index: -1;
}
